body {
    z-index: 0;
    --divider-color: rgba(0, 0, 0, 0.3) !important;
    --code-normal: rgba(255, 255, 255, 1) !important;
    --text-normal: rgba(255, 255, 255, 1) !important;
    --text-muted: rgba(255, 255, 255, 1) !important;
}

body::after {
    content: "";
    position: absolute;
    background-image: url(https://i.imgs.ovh/i/2023/09/12/65001a3b07866.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(90%);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.workspace-ribbon {
    background-color: rgba(255, 255, 255, 0) !important;
    justify-content: space-between;
}

.tree-item-self {
    color: rgba(255, 255, 255, 1) !important;
}


.theme-dark .nav-files-container {
    background-color: rgba(255, 255, 255, 0) !important;
}

.theme-dark .cm-s-obsidian .cm-hmd-frontmatter {
    color: rgba(255, 255, 255, 1) !important;
}

.workspace-tabs .workspace-leaf {
    background-color: rgba(255, 255, 255, 0) !important;
}

/* Obsidianite theme */
.cm-s-obsidian div.HyperMD-codeblock-begin-bg:before {
    background-color: rgba(255, 255, 255, 0) !important;
}

/* Not Swift theme */
.mod-horizontal .workspace-tab-header-container {
    background-color: rgba(255, 255, 255, 0) !important;
}

.mod-root .workspace-tab-header-container {
    background-color: rgba(255, 255, 255, 0) !important;
}

.workspace-split.mod-vertical.mod-root .workspace-tabs .workspace-tab-header-container * {
    background-color: rgba(255, 255, 255, 0) !important;
}

.workspace-split.mod-vertical.mod-root .workspace-tabs.mod-top .workspace-tab-header-container .workspace-tab-header-container-inner .workspace-tab-header {
    background-color: rgba(255, 255, 255, 0) !important;
}

.theme-dark {
    --background-primary: rgba(32, 32, 32, 0.193) !important;
    --background-primary-alt: rgba(255, 255, 255, 0) !important;
    --background-secondary: rgba(0, 0, 0, 0) !important;
    --background-secondary-alt: none !important;
    --background-modifier-cover: none !important;
    --background-tertiary: none !important;
}

body.theme-dark {
    --nav-item-background-active: rgba(var(--color-purple-rgb), 0.4); !important;
    --nav-item-background-hover: rgba(var(--color-purple-rgb), 0.4); !important;
}

.theme-dark .cm-qualifier {
    color: #fbff00;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.cm-contentContainer {
    max-width: 100% !important;
}

.cm-content {
    max-width: 100% !important;
}

.cm-line {
    max-width: 100% !important;
}

.menu {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.cm-s-obsidian .HyperMD-codeblock {
    color: #00ffff;
}

.cm-s-obsidian div.HyperMD-codeblock-bg {
    background-color: rgba(237, 237, 237, 0.193) !important;
}
