body {
    --h1-font: PingFangSC-Regular, sans-serif;
    --h2-font: PingFangSC-Regular, sans-serif;
    --h3-font: PingFangSC-Regular, sans-serif;
    --h4-font: PingFangSC-Regular, sans-serif;
    --h5-font: PingFangSC-Regular, sans-serif;
    --h6-font: PingFangSC-Regular, sans-serif;
}